@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
/* navbar style */
.nav{
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 67px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.logo{
    width: 50%;
    display: flex;
    align-items: center;
}
.logo img{
     width: 67px;
     height: 67px;
}
.nav ul{
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;

}
.nav ul li{
   list-style: none;
   margin: 0px 29px;
}
.nav ul li a{
    text-decoration: none;
    position: relative;
    color: black;
    font-weight: bold;
}
.nav ul li a:hover{
    color:#dc1186;
}
.nav ul li a::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            bottom: 0;
            margin: -5px 0;
            background-color: #dc1186;
            visibility: hidden;
            transform: scaleX(0);
            transition: all 0.4s ease-in-out 0s;
    
}
.nav ul li a:hover::before {
    visibility: visible;
    transform: scaleX(1);
    cursor: pointer;
}
/* section style */
.section{
     display: flex;
     justify-content: center;
     height: 35rem;
     width: 100%;
     padding-top: 43px;
}
.container1{
    width: 49%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.tag{
    font-size: 36px;
    color: #dc1186;
}
.text{
    margin-top: 1rem;
    font-size: 28px;
}
.container2{
    width: 45%;
    display: flex;
    align-items: center;
    clip-path:polygon(10% 0px, 100% 0%, 100% 100%, 0px 100%);
}
.container2 img{
    max-width: 100%;
    height: auto;
    border-radius: 7px;
}
/* Educational part    */
.education{
    height: 27rem;
    display: flex;
    justify-content: center;
    margin: 0 30px;
   
}
.academic{
    display: flex;
    padding: 0 40px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 75%;
    box-shadow: -3px 2px 13px 4px rgb(0 0 0 / 20%);
    border-radius: 10px;
    margin-right: 14px;
}
.edu{
    font-size: 30px;
    color: #dc1186;
    margin-bottom: 1.5rem;
}
.info{
    font-size: 22px;
    margin: 1.2rem 0;
    
}
/* Skill part */
.skills{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    box-shadow: 2px 4px 13px 7px rgb(0 0 0 / 20%);
    border-radius: 10px;
}
.lang{
    margin-top: 1rem;
}
.btn{
    padding: 5px 7px;
    border-radius: 6px;
    border: 2px solid #dc1186;
    background-color: white;
    color: black;
    font-weight: bold;
}
/* Contact part */
.contact{
    height: 19rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 3rem;
    margin-top: 40px;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    box-shadow: 0 1px 8px 8px rgb(0 0 0 / 20%);
}
.detail{
    color: #dc1186;
    margin-bottom: 0.7rem;
}
.contactMe ul li{
    list-style: none;
}
.contactMe ul li a{
    text-decoration: none;

}
.contactMe ul li a:hover{
    cursor: pointer;
}
i{
    color: #dc1186;
    margin-right: 7px;
}
.listitem{
    margin: 1rem 0;
    margin-left: 1.2rem;
}
/* Hamburger css */
.burger{
    display: none;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 17px;
    padding: 7px;
    border-radius: 34px;
    background-color: #dc1186;
}
.line{
    background-color: #f6f1ed;
    width: 36px;
    height: 3px;
    margin: 7px 3px;
}
