@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
/* navbar style */
.nav{
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: #358597;
    display: flex;
    height: 84px;
    border-bottom: 1px solid #ddddde;
}
.logo{
    padding-left: 4rem;
    width: 45%;
    display: flex;
    align-items: center;
}
.logo img{
     width: 79px;
     height: 79px;
}
.nav ul{
    width: 100%;
    display: flex;
    padding-right: 82px;
    justify-content: end;
    align-items: center;

}
.nav ul li{
   list-style: none;
   margin: 0px 29px;

}
.nav ul li a{
    color: #fff;
    text-decoration: none;
}
.nav ul li a:hover{
    cursor: pointer;
    color: #acaeb3;
}
/* section style */
.section{
     background-color: #358597;
     display: flex;
     justify-content: center;
     align-items: center;
     height: 35rem;
     width: 100%;
     color: #ddddde;
     border-bottom: 1px solid #ddddde;
}
.container1{
    width: 34%;
    margin-right: 11rem;
}
.tag{
    font-size: 40px;
    color: rgb(27, 23, 23);
}
.text{
    margin-top: 1rem;
    font-size: 30px;
}
.container2{
    align-items: center;
    width: 38%;
    display: flex;
    justify-content: center;
}
.container2 img{
    width: 432px;
    height: 432px;
    border-radius: 25rem;
    border: 3px solid #3de218;
}
/* Educational part    */
.education{
    height: 24rem;
    background-color: #358597;
    color:#ddddde;
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
    padding-left: 6rem;
    border-bottom: 1px solid #ddddde;
   
}
.edu{
    font-size: 30px;
    color: rgb(27, 23, 23);
    margin-bottom: 1.5rem;
}
.info{
    font-size: 22px;
    margin: 1.2rem 0;
    margin-left: 1rem;
}
/* Skill part */
.skills{
    height: 19rem;
    background-color: #358597;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #ddddde;
    justify-content: center;
    padding-left: 6rem;
    color: rgb(27, 23, 23);
}
.lang{
    margin-top: 1rem;
}
.btn{
    margin: 0 1rem;
    padding: 5px 7px;
    border-radius: 6px;
    background-color: #ddddde;
    border: 1px solid #ddddde;
    color: rgb(14, 13, 13);
}
/* Contact part */
.contact{
    height: 19rem;
    background-color: #358597;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 6rem;
}
.detail{
    color: rgb(27, 23, 23);
    margin-bottom: 0.7rem;
}
.contactMe ul li{
    list-style: none;
}
.contactMe ul li a{
    text-decoration: none;
    color: #ddddde;

}
.contactMe ul li a:hover{
    cursor: pointer;
}
i{
    color: #ddddde;
    margin-right: 7px;
}
.listitem{
    margin: 1rem 0;
    margin-left: 1.2rem;
}
/* Hamburger css */
.burger{
    display: none;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 17px;
    padding: 7px;
    border-radius: 4px;
    border: 1px solid #ffffff;
}
.line{
    background-color: #795548;
    width: 36px;
    height: 4px;
    margin: 5px 3px;
}
