@media (max-width:1033px){
    .list{
        width: 45%;
    }
    .section{
        flex-direction: column-reverse;
        height: 69rem;
        justify-content: center;
        align-items: center;
    }
    .container1{
        margin-top: 3rem;
        width: 80%;
        align-items: center;
    }
    .container2{
        justify-content: center;
        width: 90%;
        clip-path:polygon(0% 0px, 100% 0%, 100% 100%, 0px 100%);
    }
    .container2 img{
        width: 800px;
        height: 694px;
        border-radius: 16px;
    }
    .education{
        padding: 0 3rem;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 44rem;
    }
    .academic{
        width: 100%;
        padding: 0 77px;
        margin: 0;
        margin-bottom: 15px;
        height: 45rem;
    }
    .info{
        margin: 1.2rem 0;
    }
    .skills{
        width: 100%;
        padding: 0;
        height: 30rem;
        align-items: center;
    }
    .contact{
        padding: 0;
        align-items: center;
    }
}
@media only screen and (max-width: 918px){
    .v-class-resp{
        opacity: 0;
    }
    .nav{
        flex-direction: column;
        height: 350px;
        transition: all 0.7s ease-out;
    }
    .h-nav-resp{
        height: 84px;
    }
    .logo{
        padding: 0;
        justify-content: center;
    }
    .nav ul{
        padding: 0;
        flex-direction: column;
        justify-content: center;
        height: 35vh;
    }
    .nav ul li{
         margin: 0.5rem 0;
    }
    .section{
        height: 54rem;
    }
    .container2 img{
        height: 318px;
    }
    .education{
        height: 50rem;
        padding: 0;
    }
    .academic{
        padding: 0 20px;
    }
    .burger{
        display: block;
    }
}
@media only screen and (max-width: 516px){
    .section{
        padding: 0 7px;
        height: 65rem;
    }
     .container2 img{
        height: 350px;
     }
     .academic{
        height: 81rem;
     }
     .btn{
        margin: 0;
     }
}